body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

.green {
    background-color: #4CAF50;
}

.red {
    background-color: #f44336;
}

video {
    display: none;
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}